/* 1 point */
h1{
    color: dodgerblue;
}

/* 10 point */
.green-text{
    color: #8080ff;
}
/* 100 point and idealy you would use id's mainly for Javascript */
#width-300{
    width: 300px;
}

p{
    border: 1px solid rgb(255, 102, 255, 0.5);
}
/*Assignment Styles*/
.border-blue{
    border: 1px solid hsl(220, 100%, 30%, 50%);
}
.list-item{
    font-size: 24pt;
    padding: 10px;
    text-align: center;
    border: 1px hotpink;
    border-style: dotted;
    margin: 10px;
    background-color: yellow;
    list-style: inside;
}
/*End Assignment Styles*/